.blackClockLabel, .whiteClockLabel{
    -fx-font-size: 20px;
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-text-fill: "black";
    -fx-border-color: "black";
    -fx-border-width: 2px;
    -fx-alignment: center;
}
.noKillsYetLabel{
    -fx-font-size: 15px;
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-text-fill: "black";
}
.startGameBtn, .startGameBtnHover, .chessBtns{
    -fx-font-family: "Helvetica";
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%), #9d4024, #d86e3a, radial-gradient(center 50% 50%, radius 100%, #d96e3a, #c54e2c);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 4, 0, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 1.8em;
    -fx-min-width: 250px;
    -fx-min-height: 80px;
    -fx-max-width: 350px;
    -fx-max-height: 120px;
    -fx-text-fill: "white";
    -fx-cursor: hand;
}
.chessBtns{
    -fx-font-family: "Helvetica";
    -fx-min-width: 280px;
    -fx-min-height: 80px;
    -fx-max-width: 380px;
    -fx-max-height: 120px;
}
.startGameBtn:hover, .chessBtns:hover{
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%), #9d4024, #d86e3a, radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}

.checkBox, .durationTextLabel{
    -fx-font-size: 20;
    -fx-padding: 15;
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.durationTextLabel{
    -fx-cursor: pointer;
}

.combo-box {
    -fx-font-size: 14;
    -fx-background-color: "black";
}

.combo-box .list-cell {
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-background-color: #656565;
}

.combo-box .list-cell:hover {
    -fx-background-color: #949494;
}

.combo-box .list-cell:selected {
    -fx-background-color: "black";
    -fx-text-fill: white;
}

.continueBtn{
    -fx-background-color: null;
    -fx-font-family: "Helvetica";
    -fx-underline: true;
    -fx-cursor: hand;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.progress-bar > .track {
  -fx-control-inner-background: #FFBB7F;
}

.progress-bar > .bar {
  -fx-background-color: #C35900;
  -fx-background-insets: 0, 1, 2;
  -fx-padding: 0.416667em; /* 5 */
  -fx-border-color: black;
  -fx-border-width: 1;
}
.progress-bar1 > .track {
  -fx-control-inner-background: #7CEC7CFF;
}

.progress-bar1 > .bar {
  -fx-background-color: #23AD23FF;

}
.progress-bar2 > .track {
  -fx-control-inner-background: #B5B5B5;
}

.progress-bar2 > .bar {
  -fx-background-color: #7F7F7F;

}
.progress-bar3 > .track {
   -fx-control-inner-background: #FFA3A3FF;
 }

 .progress-bar3 > .bar {
   -fx-background-color: #E83030FF;

 }
 .progress-bar4 > .track {
    -fx-control-inner-background: #73CAE7FF;
  }

  .progress-bar4 > .bar {
    -fx-background-color: #0089B5FF;

  }

